/* Global styles */
* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-bg-color: rgba(154, 212, 223, 0.6);
    --box-bg-color: rgba(102, 224, 251, 0.5);
    --nav-bg-color: #221f49;
    --main-box-bg-color: rgb(184, 226, 234);
    --secondary-bg-color: rgb(134, 166, 241);
    --border-color: #538ce9;
    --main-text-color: #604490;
    --icon-green: #0e7e0e;
    --icon-grey: #a2a2a2;
    /* calendar */
    --bg-color-a: #3b39af; /* page header + form label */
    --bg-color-b: #404040; /* calendar header */
    --bg-color-c: #d73a3a; /* buttons */
    /* animation */
    --shadow-color: #3b498a;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-colored: 0 4px 6px -1px var(--shadow-color),
        0 2px 4px -2px var(--shadow-color);
    --ring-offset-width: 0px;
    --ring-offset-color: #fff;
    --ring-color: rgb(59 130 246 / 0.5);
    --ring-offset-shadow: 0 0 #0000;
    --ring-shadow: 0 0 #0000;
}

@media print {
    body {
        color: var(--main-text-color);
        background-color: rgb(255, 255, 255);
    }
    nav {
        display: none;
    }
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: 300% 300%;
    background-image: linear-gradient(
        -45deg,
        rgb(107, 127, 232) 10%,
        rgb(100, 222, 233) 25%,
        rgb(149, 88, 153) 51%,
        #151bb7 100%
    );
    color:#b2c2d2;
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}

main {
    flex: 1; /* Le contenu prend tout l'espace disponible */
}

nav {
    background-color: var(--nav-bg-color);
    color: #ffffff;
}

header {
    background-color: var(--box-bg-color);
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding: 12px;
}

h2 {
    font-weight: bolder;
    font-size: larger;
    color: #fff;
    text-align: center;
}

section {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    flex-grow: 1;
    width: 98%;
    padding: 1rem;
    max-width: 90%;
}

table {
    width: 100%;
}

footer {
    font-size: small;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    max-width: 80vw;
    margin: 1rem auto;
}

.button{
    padding: 4px 6px;
    margin: 4px;
    background-color: rgb(132, 170, 227) !important;
    border-radius: 4px;
    color: black;
    font-size: smaller;
}
.button:hover{
    background-color: #2f62b5;
    color: rgb(205, 225, 255) !important;
    border: 2px solid rgb(132, 170, 227)hite;
    border-radius: 4px;
}

li{
    margin: 8px;
}

input[text]{
        padding: 4px 6px;
    margin: 4px;
    background-color: rgb(132, 170, 227);
    border-radius: 4px;
}

.glass-background{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.glass-background select,
.glass-background input{
    color: var(--main-text-color);
    height: fit-content;
    border-radius: 6px;
    margin: 3px;
    padding: 0 6px;
    background-color: rgba(255, 255, 255, 0.4);
    min-width: 3.5em;
    max-width: 16em;
    overflow: hidden;
}
.glass-background input{
    max-width: 4em;
    text-align: end;
}

.group{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 12px auto;
    width: 80%;
}
.grade{
    font-size: larger;
    color: rgb(182, 211, 255);
    text-align: left;
    width: 80%
}
.label{
    font-size: larger;
    text-align: left;
}